{% extends "layout.j2"%}
{%block content%}
<h1>Credit</h1>
<section>
  <p>This quiz was built by Nitay Vilner</p>
    <p>I also want to give credit to Corey Schafer.
    I used his <a href="https://www.youtube.com/watch?v=MwZwr5Tvyxo&list=PL-osiE80TeTs4UjLw5MM6OjgkjFeUxCYH">tutorials</a> to learn a lot about Flask</p>
    <br>
    <p>My email adress - Nitayv@gmail.com</p>
    <p>You can watch the code on my <a href="https://github.com/nitayv9/avatarquiz">github</a></p>
<div>
    <a class="link_style1" href="{{url_for('home')}}">Go back Home page</a>
  </div>

{%endblock content%}
