{% extends "layout.j2"%}
{%block content%}
<h1>Credit</h1>
<section>
   <p><strong>Quiz built by:</strong> Nitay Vilner</p>
  
  <p><strong>Email address:</strong> nitayv@gmail.com</p>
  
  <p><strong>Picture sources:</strong> TV series and <a href="https://avatar.fandom.com/wiki/Main_Page">Avatar Wiki</a></p>
  
  <p><strong>Main illustration of Aang:</strong> Designed by me using Adobe Illustrator.</p>
  
   <p><strong>Special thanks to:</strong> <a href="https://www.youtube.com/playlist?list=PL-osiE80TeTs4UjLw5MM6OjgkjFeUxCYH">Corey Schafer</a> for his Python Flask tutorials which been helpfull during this project.</p>
  
  <p><strong>GitHub repository:</strong> <a href="https://github.com/nitayv9/avatarquiz">Avatar Quiz</a></p>
  
  <p><strong>LinkedIn profile:</strong>  <a href="https://www.linkedin.com/in/nitayv/">Nitay Vilner</a></p>
<div>
    <a class="link_style1" href="{{url_for('home')}}">Go back Home page</a>
  </div>

{%endblock content%}
